html{
  height: 100;
}

/*Titres*/
h1 {
	text-align:center;
	font-size:30px;
	}
h2{
  font-size: 30px;
  margin: 10%  10%  10%  10%
  font: helvetica;
}
h3{
  margin: 5%  5%  5%  5%;
  font: helvetica;
  font-size: 20px;
  text-align: center;
  color: #FFF;
}
/*Titres*/

/*Corps de la page*/
body {
	background: #212121;
	font-size:16px;
	line-height: 32px;
	color: #ffffff;
	font-family: 'helvetica', sans-serif;
  position:relative;
	}
.body-home{
  height: 100%;
}
.body-home main {
  min-height:100%;
}
main{
  display: flex;
  margin: 50px;
  align-items: center;
}
.accueil{
  margin: 50px;
  overflow: hidden;
}
/*Corps de la page*/

/*images*/
img{
  width:300px;
  height: 300px;
  object-fit: cover;
}
/*images*/

/*section personnalités*/
.ligne1{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 15px;
}
.ligne2{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 15px;
}
.ligne3{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 15px;
}

/*div photo + nom*/
.gauche{
  padding: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
.centre{
  padding: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
.droite{
  padding: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

.gauche, .centre, .droite h2{
  text-align: center;
  color: #CD5C5C;
}
/*div photo + nom*/

/*popup personnalités*/
.box {
  margin: 0 auto;
  padding: 15px;
  background-clip: padding-box;
  text-align: center;
}
.button {
  font-size: 1em;
  padding: 10px;
  color: #212121;
  border: 2px solid #DEB887;
  background: #DEB887;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #CD5C5C;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 1s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #CD5C5C;
  font-family: helvetica, Arial, sans-serif;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #CD5C5C;
}
.popup .close:hover {
  color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: black;
}

/*
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
/*popup personnalités*/

/*Mentions légales*/
.monprofil{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  color: #CD5C5C;
  font-family: 'helvetica',sans-serif;
}
.picture--me{ 
  background-size: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 225px;
  height: 350px;
  display: block;
}
.texte{
  display: flex;
  margin-top: 0px;
  margin-left: 350px;
  margin-right: 350px;
  padding: 10px;
  text-align: justify;
}
/*Mentions légales*/

/*Chris*/
.chriscoyier{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 2px;
  border-color: #CD5C5C;
}
.chriscoyier h2{
  color: #CD5C5C;
}
.bio{
    margin-left: 20%;
    margin-right: 20%;
}
.biographie{
  margin-right: 80px;
  margin-left: 80px;
  text-align: justify;
}
/*Chris*/

/*MEDIA QUERIES MOBILE*/
@media (max-width:677px){
  body{
    background-color: red;
    }

    /*section personnalités*/
    .ligne1{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 15px;
    }
    .ligne2{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 15px;
    }
    .ligne3{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 15px;
    }

    /*div photo + nom*/
    .gauche{
      padding: 15px;
      margin-left: 40px;
      margin-right: 40px;
    }
    .centre{
      padding: 15px;
      margin-left: 40px;
      margin-right: 40px;
    }
    .droite{
      padding: 15px;
      margin-left: 40px;
      margin-right: 40px;
    }
    .gauche, .centre, .droite h2{
      text-align: center;
      color: #CD5C5C;
    }

    /*FIN DE LA MEDIA*/
  }
  /*FIN MEDIA QUERIES MOBILE*/

/*MEDIA QUERIES TABLETTE*/
@media (min-width: 678px){
  body{
    background-color: yellow;
    }

    /*FIN DE LA MEDIA*/
    }
    /*FIN MEDIA QUERIES TABLETTE*/

/*MEDIA QUERIES DESKTOP*/
@media (min-width: 1024px){
  body{
    background-color: #212121;


    }

    /*FIN DE LA MEDIA*/
    }
    /*FIN MEDIA QUERIES DESKTOP*/


footer {
  color: #ffffff;
  height: 50px;
  background: #CD5C5C;
  text-align: center;
  display: flex;
  justify-content:space-around;
  align-items:flex-end;
  width: 100%;
 }
