/* Menu */
#menu {
	margin: 0 auto;
}
nav {
	margin: 50px 0;
	background-color: #DEB887;
}
nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
nav ul li {
	display:inline-block;
	background-color: #DEB887;
	}
nav a {
	display:block;
	padding:0 10px;
	color:	#CD5C5C;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
  font: helvetica;
}
nav a:hover {
	background-color: #212121;
}
nav ul li:hover > ul {
	display:inherit;
}
/* Menu */

h1 a {
	color: red;
	text-decoration: none;
}

h1 a:visited {
	color: yellow;
}
