html{
  height: 100;
}

/*Titres*/
h1 {
	margin-top: 80px;
	text-align:center;
	font-size:30px;
	}

h2{
  font-size: 30px;
  margin: 10%  10%  10%  10%
  font: helvetica;
}

h3{
  margin: 5%  5%  5%  5%;
  font: helvetica;
  font-size: 20px;
  text-align: center;
  color: #FFF;
}
/*Titres*/

/*Corps de la page*/
body {
	background: #212121;
	font-size:16px;
	line-height: 32px;
	color: #ffffff;
	font-family: 'helvetica', sans-serif;
  position:relative;
	}
.body-home{
  height: 100%;
}
.body-home main {
  min-height:100%;
  margin: 80px;
}
main{
  display: flex;
  margin: 50px;
  align-items: center;
}
.accueil{
  margin: 50px;
  overflow: hidden;
}

img{
  width:300px;
  height: 300px;
}

/* timeline */
.timeline:before {
	content: '';
	position: absolute;
	top: 325px;
	left: 50%;
	transform: translateX(80%);
	width: 4px;
	background-color: #CD5C5C;
  height:calc(100% - 325px);
  z-index: -1;
}
.timeline {
	max-width: 1000px;
	width: calc(100% - 80px);
  height: 100%;
	margin: 0 auto;
	left: -5px;
}
.block {
	width: calc(50% - 80px);
	float: left;
	padding: 20px;
	clear: both;
	text-align: right;
}
.block:not(:first-child) {
	margin-top: -60px;
}
.annee, .grospt{
	font-size: 30px;
	margin-bottom: 12px;
	position: relative;
	color: #CD5C5C;
}
.annee:before, .grospt:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border: 4px solid #CD5C5C;
	background-color: #CD5C5C;
	border-radius: 100%;
	top: 50%;
	transform: translateY(-50%);
	right: -73px;
	z-index: 1000;
}

.grospt:before {
	width: 24px;
	height: 24px;
	transform: translate(8px, -50%);
}
.Description {
	color: #aaa;
}
.block:nth-child(2n) {
	text-align: left;
	float: right;
}
.block:nth-child(2n) .annee:before {
	left: -63px;
}
.block:nth-child(2n) .grospt:before {
	transform: translate(-8px, -50%);
}

@media screen and (max-width: 600px) {
	body::before {
		left: 40px;
	}
	.annee:before {
		left: -43px;
	}
	.block {
		width: calc(100% - 60px);
		text-align: left;
		padding-left: 40px;
	}
	.block:nth-child(2n) {
		text-align: left;
		float: left;
	}
	.block:nth-child(2n) .annee:before {
		left: -43px;
	}
	.block:not(:first-child) {
		margin-top: 0;
	}
	.grospt:before {
		left: -59px;
	}
}
/* timeline */

#chris #evolution #personnalite {
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-around;
  align-items: center;
  padding: inherit;
}

footer {
  color: #ffffff;
  height: 50px;
  background: #CD5C5C;
  text-align: center;
  display: flex;
  justify-content:space-around;
  align-items:flex-end;
  width: 100%;
 }

/*section personnalités*/
.ligne1{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.ligne2{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.ligne3{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
/*section personnalités*/

/*div photo + nom*/
.gauche{
  padding: 15px;
  margin: 10px;
}
.centre{
  padding: 15px;
  margin: 10px;
}
.droite{
  padding: 15px;
  margin: 10px;
}
/*div photo + nom*/

/*popup personnalités*/
.box {
  width: 40%;
  margin: 0 auto;
  padding: 35px;
  background-clip: padding-box;
  text-align: center;
}
.button {
  font-size: 1em;
  padding: 10px;
  color: #212121;
  border: 2px solid #DEB887;
  background: #DEB887;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #CD5C5C;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #CD5C5C;
  font-family: helvetica, Arial, sans-serif;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #CD5C5C;
}
.popup .close:hover {
  color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: black;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/*popup personnalités*/

/*Mentions légales*/
.monprofil h2{
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  color: #CD5C5C;
  font-family: helvetica,sans-serif;

}
img.moi{ 
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  width: 225px;
  height: 350px;
}

.texte{
}
